:root {
  --color-white: #fff;
  --color-yellow: #fff9cb;
  --color-yellow-dark: #ddd7b1;
  --color-blue: #cbf1ff;
  --color-red: #ffc5db;
  --color-green: #d3fff5;

  --spacing-small: 10px;
  --spacing-medium: 15px;

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-shadow-inset: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px inset;

  --linear-gradient: linear-gradient(90deg, #ffe5dd, #ffc5db, #cbf1ff, #d3fff5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.7;
  height: 100vh;
  background: var(--linear-gradient);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transform: translate3d(0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
}

.todo {
  width: 600px;
  height: 600px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  box-shadow: var(--box-shadow);
  border-radius: var(--spacing-small);
  overflow-x: auto;
}

.todo::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.todo::-webkit-scrollbar-thumb {
  background-color: var(--color-yellow);
  border-radius: 5px;
}

.todo::-webkit-scrollbar-track {
  background-color: var(--color-yellow-dark);
  border-radius: 5px;
}

.todo-form {
  display: flex;
  padding: 20px 40px;
}

.todo-field {
  width: 100%;
  padding: 12px var(--spacing-medium);
  border: none;
  border: 2px solid transparent;
  transition: .2s;
  font-size: 18px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--color-blue);
  outline: none;
}

.todo-field:focus {
  border: 2px solid var(--color-white);
  box-shadow: var(--box-shadow-inset);
}

.todo-form__btn {
  border: 2px solid transparent;
  padding: var(--spacing-small) 12px;
  font-size: 18px;
  background-color: var(--color-white);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  transition: .2s;
}

.todo-form__btn:hover {
  border: 2px solid var(--color-white);
  box-shadow: var(--box-shadow-inset);
}

.todo__panel {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: 18px;
  gap: 20px;
}

.todo__panel-info {
  background-color: var(--color-yellow);
  border-radius: 8px;
  border: 2px solid var(--color-white);
  padding: 5px var(--spacing-small);
}

.todo__panel-info span {
  padding: 5px var(--spacing-small);
  box-shadow: var(--box-shadow-inset);
  font-weight: bold;
  background-color: var(--color-blue);
  border-radius: 5px;
  text-align: center;
  margin-left: var(--spacing-small);
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 16px;
}

.todo__item {
  width: 100%;
  background-color: var(--color-white);
  border: 2px solid var(--color-blue);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: 18px;
  border-radius: var(--spacing-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  gap: var(--spacing-medium);
}

.todo__item--hide {
  transform: scale(0);
}


.todo__item-btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: .2s;
}

.todo__item-delete {
  background-image: url('../img/delete.png');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-blue);
}

.todo__item-important {
  background-color: var(--color-yellow);
  font-size: 18px;
  font-weight: bold;
}

.todo__item-important:hover {
  background-color: var(--color-yellow-dark);
  box-shadow: var(--box-shadow-inset);
}

.todo__item-delete:hover {
  background-color: #ffcbcb;
  box-shadow: var(--box-shadow-inset);
}

.todo__item-title {
  border-bottom: 2px solid var(--color-red);
  font-weight: bold;
  margin-right: auto;
}


.item-important {
  background-color: var(--color-yellow);
}

.item-important .todo__item-important {
  background-color: var(--color-yellow-dark);

}

.todo__item--msg {
  box-shadow: none;
  box-shadow: var(--box-shadow-inset);
  justify-content: center;
}

.modal__item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
}

.modal__item--hide .modal__item-body {
  transform: translateY(-100%);
}

.modal__item-body {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: var(--spacing-medium) 20px;
  border-radius: var(--spacing-small);
  box-shadow: var(--box-shadow);
  border-bottom: 3px solid var(--color-green);
  transition: .2s;
}


.modal__text {
  font-size: 18px;
  font-weight: bold;
}

.modal__img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.todo__actions {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: var(--spacing-small) var(--spacing-medium);
}

.todo__actions-select {
  font-family: inherit;
  font-size: inherit;
  padding: 5px 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  border: 2px solid var(--color-blue);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 480px) {
  .todo {
    width: 100%;
    height: 100%;
    backdrop-filter: none;
  }
}